@model HiveFive.Core.Common.Account.LoginViewModel
@{
	ViewBag.Title = Account.LoginPageTitle;
}


<div class="d-flex justify-content-center pt-3 pt-md-5">
	<div class="bg-secondary form-container">
		<h2>@ViewBag.Title</h2>
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@Account.LoginTitle</h4>
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "control-label" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>


				<div class="d-flex flex-column">
					<div class="flex-fill text-center">
						@ReCaptcha.GetCaptcha()
					</div>
					<div class="flex-fill">
						<input type="submit" value="@Account.LoginSubmitButton" class="btn btn-block btn-outline-primary" />
					</div>
					<div class="d-flex justify-content-between mt-2" style="font-size:12px">
						@Html.ActionLink(Account.LoginRegisterLink, "Register")
						@Html.ActionLink(Account.LoginForgotPasswordLink, "ForgotPassword")
					</div>
				</div>
			}
		</section>
	</div>
</div>

@section Scripts {
	<script src="~/Content/Bundle/validation_bundle.js"></script>
}