@model HiveFive.Core.Common.Account.ResetTwoFactorModel
@{
	ViewBag.Title = Account.ResetTwoFactorPageTitle;
}

<div class="d-flex justify-content-center pt-3 pt-md-5">
	<div class="bg-secondary form-container">
		<h2>@ViewBag.Title</h2>
		<section>
			@using (Html.BeginForm("ResetTwoFactor", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.ReturnUrl)
				<h4>@Account.ResetTwoFactorTitle</h4>
				<hr />
				<div class="form-group">
					@Html.LabelFor(m => m.RecoveryCode, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.RecoveryCode, new { @class = "form-control  input-sm", @autofocus = "autofocus", autocomplete = "off", placeholder = Account.ResetTwoFactorCodePlaceholder })
					@Html.ValidationMessageFor(model => model.RecoveryCode, "", new { @class = "text-danger" })
					<p style="font-size:13px">Please enter the TwoFactor recovery code that was sent to your registered email address.</p>
				</div>
				<div class="form-group">
					<input id="submit" type="submit" value="@Account.ResetTwoFactorSubmitButton" class="btn btn-block btn-outline-primary" />
				</div>
			}
		</section>
	</div>
</div>
@section Scripts {
	<script src="~/Content/Bundle/validation_bundle.js"></script>
}


