@model HiveFive.Core.Common.Account.ResetPasswordViewModel
@{
	ViewBag.Title = Account.ResetPasswordPageTitle;
}

<div class="d-flex justify-content-center pt-3 pt-md-5">
	<div class="bg-secondary form-container">
		<h2>@ViewBag.Title</h2>
		<section>
			@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@Account.ResetPasswordTitle</h4>
				<hr />
				@Html.ValidationSummary("", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.Code)
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "control-label" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				</div>

				<div class="d-flex flex-column">
					<div class="flex-fill text-center">
						@ReCaptcha.GetCaptcha()
					</div>
					<div class="flex-fill">
						<input type="submit" class="btn btn-block btn-outline-primary" value="@Account.ResetPasswordSubmitButton" />
					</div>
				</div>
			
			}
		</section>
	</div>
</div>
@section Scripts {
	<script src="~/Content/Bundle/validation_bundle.js"></script>
}
