@model HiveFive.Core.Common.Account.ResetPasswordViewModel
@{
	ViewBag.Title = Account.ResetPasswordPageTitle;
}

<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-6">
		<section>
			@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>@Account.ResetPasswordTitle</h4>
				<hr />
				@Html.ValidationSummary("", new { @class = "text-danger" })
				@Html.HiddenFor(model => model.Code)
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "control-label" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-outline-primary" value="@Account.ResetPasswordSubmitButton" />
				</div>
			}
		</section>
	</div>
</div>
@section Scripts {
	<script src="~/Content/Bundle/validation_bundle.js"></script>
}
