@{
	string currentUser = User.Identity.IsAuthenticated
	? User.Identity.Name
	: Request.GetIPAddressUser();
}
<!DOCTYPE html>
<html class="h-100">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link href="~/Content/Bundle/site_bundle.css" rel="stylesheet" />
	<script src="~/Content/Bundle/site_header_bundle.js?v=@DateTime.UtcNow.Millisecond"></script>
</head>
<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/"><i id="connection-status" class="fa fa-wifi text-danger"></i> @General.SiteName</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
					<ul class="navbar-nav">
						@*<li class="nav-item active">
								<a class="nav-link" href="#">@General.NavHome <span class="sr-only">(current)</span></a>
							</li>*@
					</ul>
					<div class="d-flex">
						@if (Request.IsAuthenticated)
						{
							using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
							{
								@Html.AntiForgeryToken()
								<ul class="navbar-nav">
									<li class="nav-item">
										<a class="nav-link" href="/AccountSettings">@General.NavAccount</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">@General.NavLogOut</a>
									</li>
								</ul>
							}
						}
						else
						{
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="/Account/Register">@General.NavRegister</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/Account/Login">@General.NavLogin</a>
								</li>
							</ul>
						}
						@*<ul class="navbar-nav">
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										@Html.CurrentThreadCultureName()
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										@foreach (var lang in ResourceConfig.EnabledLanguages)
										{
											<a class="dropdown-item" href="@Url.Action("SetLanguage", "Home", new { lang = lang.Key })">@lang.Value</a>
										}
									</div>
								</li>
							</ul>*@
					</div>
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="flex-shrink-0">
		<div id="toast-container" style="position: absolute; top: 50px; right: 20px;width:300px">
		</div>
		<div class="container">
			@RenderBody()
		</div>
	</main>

	<footer class="footer mt-auto py-3">
		<div class="container">
			<hr />
			<div class="d-flex justify-content-between">
				<p>&copy; @DateTime.Now.Year - @General.SiteName</p>
				<span>Hive: <b id="hive-totalcount"></b></span>
			</div>
		</div>
	</footer>

	<script>
		const currentUserHandle = '@currentUser';
	</script>
	<script src="~/Content/Bundle/site_bundle.js?v=@DateTime.UtcNow.Millisecond"></script>
	@Scripts.Render("~/signalr/hubs")
	@RenderSection("scripts", required: false)
</body>
</html>
